* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}


.container {
  max-width: 1172px;
  width: 100%;
  margin: 0 auto;
  padding: 0 16px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  min-height: 100vh;
}

.ant-card {
  width: calc(25% - 15px);
}

.ant-carousel {
  width: 100%;
  border-radius: 12px;
  overflow: hidden;
}