*
  margin: 0
  padding: 0
  
$transition: all .3s


body
  font-family: Arial
  background-color: #eee

.container
  height: 100vh
  max-width: 1172px
  padding: 0 16px
  margin: 0 auto
  flex-direction: column
  display: flex
  align-items: center
  justify-content: center
  gap: 15px